@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.pokemonList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 10px;
}

.pokemonCard {
  border: 2px solid rgb(117, 117, 117);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.pokemonCard img {
  width: 120px;
  height: 120px;
}

.pokemonCard h2 {
  font-family: 'Outfit', sans-serif;
  color: black;
  font-style: normal;
  font-weight: 400px;
  text-transform: uppercase;

}